# jersyTracking.py
defaultModelFolder = "/home/ambersun/library/openpose/models/"
darknetCfg = "/media/ambersun/gitRepo/yolov3/yolov3/src/yolov3.cfg"
darnetWeights = "/media/ambersun/gitRepo/yolov3/yolov3/weights/yolov3_20000.weights"
darknetData = "/media/ambersun/gitRepo/yolov3/yolov3/src/obj.data"

# darknet.py
darknetDir = "/media/ambersun/gitRepo/otherRepo/darknet/"

# obj.data
arr = dict.fromkeys( [ "trainLocation" , "testLocation" , "namesLocation" , "backupLocation" ] , None )
objdataLocation = "src/obj.data"
arr[ "trainLocation" ] = "/meida/ambersun/gitRepo/src/train.txt"
arr[ "validLocation" ] = "/meida/ambersun/gitRepo/src/test.txt"
arr[ "namesLocation" ] = "/media/ambersun/gitRepo/src/obj.names"
arr[ "backupLocation" ] = "/media/ambersun/gitRepo/weights/"

# read-only area
if __name__ == "__main__" :
	lines = [ ]
	try :
		with open( objdataLocation , "r" ) as fp :
			lines = fp.readlines()
			fp.close()
	except IOError :
		print( objdataLocation + " not found" )

	with open( objdataLocation , "w" ) as f:
		count = 1
		for element in lines:
			if count == 1:
				f.write( element )
				count += 1
			else:
				f.write( element.strip( '\n' ) + str( arr[ element.strip( '=\n' ) + "Location" ] ) + '\n' )
		f.close()

